<!DOCTYPE html>
<html >
    <head>
      <link href="css/styles.css" rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu</title>
    </head>
    <body>
      <header>
            <div class="sup"> 
              <div class="michiynav">
                <img src="imagenes/logo-restaurante.png" alt="Logo de michi fud" class="logo">
               <nav class="nav">
                 <div class="input">Home</div>
                  <br>
                  <div class="input">Menu</div>
                  <br>
                  <div class="input">Contacto y ubicacion</div>
                  <img src="imagenes/reloj1.png" alt="reloj" class="reloj">
                </nav>
              </div>
              <div class="titulo">
                <h5 class="nombre-local">Michifood</h5>
                <img src="imagenes/bar.jpg" alt="foto-lugar" class="foto-lugar" >
              </div>
              <div class="logo-cuenta">
                <i class="fa fa-light fa-user" style="color: #f3d300;"></i>
                <img src="imagenes/carrito.png" alt="carrito" class="carrito">
              </div>
            </div>
     
  </header>
    <main>
      <section class="Pizzas">
        <h4 class="titulo-pizza">Pizzas</h4>
        <div class="producto-pizza">
          <article class="p">
            <img src="/imagenes/margarita.jpg" alt="margarita" class="margarita">
            <div class="main-articulo">
              <h4 class="description">Margarita</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
          <article class="p">
            <img src="/imagenes/peperoni.jpg" alt="peperoni" class="peperoni">
            <div class="main-articulo">
              <h4 class="description">Peperoni</h4>
             <p class="price">$2.000</p>
            </div>
          </article>
          <article class="p">
            <img src="/imagenes/fugaza.jpeg" alt="fugaza" class="fugaza">
            <div class="main-articulo">
              <h4 class="description">Fugazzeta</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
        </div>
      </section>
      <section class="Piqueos">
        <h4 class="titulo-piqueos">Piqueos</h4>
        <div class="producto-piqueos">
          <article class="p">
            <img src="/imagenes/aros-cebolla.jpg" alt="aros" class="aros">
            <div class="main-articulo">
              <h4 class="description">Aros de cebolla</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
          <article class="p">
             <img src="/imagenes/baston-musa.webp" alt="baston" class="baston">
             <div class="main-articulo">
              <h4 class="description">Bastones de muzzarella</h4>
              <p class="price">$2.000</p>
             </div>
          </article>
          <article class="p">
            <img src="/imagenes/papas-chedar.jpg" alt="papas" class="papas">
            <div class="main-articulo">
              <h4 class="description">Papas con cheddar</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
        </div>
      </section>
      <section class="Sanguches">
        <h4 class="titulo-sanguches">Sanguches</h4>
        <div class="producto-sanguches">
          <article class="p">
            <img src="/imagenes/lomito.jpeg" alt="lomito" class="lomito">
            <div class="main-articulo">
              <h4 class="description">Lomito</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
          <article class="p">
            <img src="/imagenes/milanesa.jpeg" alt="milanesa" class="milanesa">
            <div class="main-articulo">
              <h4 class="description">Milanesa</h4>
             <p class="price">$2.000</p>
            </div>
          </article>
          <article class="p">
            <img src="/imagenes/tostado.jpg" alt="tostado" class="tostado">
            <div class="main-articulo">
              <h4 class="description">Tostado</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
        </div>
      </section>
      <section class="Hamburgesas">
        <h4 class="titulo-hamburguesa">Hamburgesas</h4>
        <div class="producto-hamburguesa">
          <article class="p">
            <img src="/imagenes/hamburguesa comun.jpeg" alt="comun" class="comun">
            <div class="main-articulo">
              <h4 class="description">Común</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
          <article class="p">
            <img src="/imagenes/hamburguesa-doble.png" alt="doble" class="doble">
            <div class="main-articulo">
              <h4 class="description">Doble</h4>
             <p class="price">$2.000</p>
            </div>
          </article>
          <article class="p">
            <img src="/imagenes/hamburguesa-especial.png" alt="especial" class="especial">
            <div class="main-articulo">
              <h4 class="description">Especial</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
        </div>
      </section>
      <section class="Bebidas">
        <h4 class="titulo-bebida">Bebidas</h4>
        <div class="producto-bebida">
          <article class="p">
            <img src="/imagenes/coca.webp" alt="coca" class="coca">
            <div class="main-articulo">
              <h4 class="description">Coca-cola</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
          <article class="p">
            <img src="/imagenes/fanta.jpg" alt="fanta" class="fanta">
            <div class="main-articulo">
              <h4 class="description">Fanta</h4>
             <p class="price">$2.000</p>
            </div>
          </article>
          <article class="p">
            <img src="/imagenes/sprite.jpg" alt="sprite" class="sprite">
            <div class="main-articulo">
              <h4 class="description">Sprite</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
        </div>
      </section>
      <section class="Ofertas">
        <h4 class="titulo-ofertas">Ofertas</h4>
        <div class="producto-ofertas">
          <article class="p">
            <img src="/imagenes/margarita.jpg" alt="margarita" class="margarita">
            <div class="main-articulo">
              <h4 class="description">Margarita</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
          <article class="p">
            <img src="/imagenes/peperoni.jpg" alt="peperoni" class="peperoni">
            <div class="main-articulo">
              <h4 class="description">Peperoni</h4>
             <p class="price">$2.000</p>
            </div>
          </article>
          <article class="p">
            <img src="/imagenes/fugaza.jpeg" alt="fugaza" class="fugaza">
            <div class="main-articulo">
              <h4 class="description">Fugazzeta</h4>
              <p class="price">$2.000</p>
           </div>
          </article>
        </div>
      </section>
    </main>
    </body>
</html>