<%- include('partials/head') %>
<link href="css/crearProducto.css" rel='stylesheet'>
<body>
    <%- include('partials/header') %> 
    <main>
        <h2>Agregar Nuevo Producto</h2>

        <form action="/crearProducto" method="post" enctype="multipart/form-data">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>

            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" required>

            <label for="category">Categoría:</label>
            <input type="text" id="category" name="category" required>

            <label for="description">Descripción:</label>
            <textarea id="description" name="description" required></textarea>

            <label for="image">Imagen:</label>
            <input type="file" id="image" name="imagen" accept="image/*">

            <button type="submit">Agregar Producto</button>
        </form>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>
