<%- include('partials/head') %>
<link href="css/editarProducto.css" rel='stylesheet'>
<body>
    <%- include('partials/header') %> 
    <main>
      <div class="registro-box">
        <img class="logo-cp" src="images/logo-restaurante.png" alt="Logo de MichiFood">
        <form action="/editarProducto" method="post" enctype="multipart/form-data">
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name" required>

          <label for="price">Precio:</label>
          <input type="number" id="price" name="price" required>

          <label for="category">Categoría:</label>
          <input type="text" id="category" name="category" required>

          <label for="description">Descripción:</label>
          <textarea id="description" name="description" required></textarea>

          <label for="image">Imagen:</label>
          <input type="file" id="image" name="imagen" accept="image/*">

          <input type="submit" class="btn" value="Editar">
      </form>
      </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
