<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <div class="registro-box">
        <link href="css/crearProducto.css" rel='stylesheet'>
        <img class="logo" src="images/logo-restaurante.png" alt="Logo de MichiFood">
    <form>
        <h2>Editar</h2>
        <input type="text" placeholder="Nombre del Producto">
        <input type="text" placeholder="Descripcion">
        <h4>Subir imagen</h4>
        <input type="file" accept=".jpg, .png, .jpeg" name="avatar">
        <input type="text" placeholder="Categoria">
        <input type="text" placeholder="Precio">
        <input type="submit" class="btn" value="Crear">
    </form>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
