<%- include('partials/head') %>
<link href="css/editarProducto.css" rel='stylesheet'>
<body>
    <%- include('partials/header') %> 
    <main>
      <div class="registro-box">
        <img class="logo-cp" src="images/logo-restaurante.png" alt="Logo de MichiFood">
        <form>
            <h2>Editar</h2>
            <input type="text" placeholder="Nombre del Producto">
            <input type="text" placeholder="Descripcion">
            <input type="file" accept=".jpg, .png, .jpeg" name="avatar">
            <input type="text" placeholder="Categoria">
            <input type="text" placeholder="Color">
            <input type="text" placeholder="Precio">
            <input type="submit" class="btn" value="Editar">
            </form>
      </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
