<%- include('partials/head') %>
<link href="css/register.css" rel='stylesheet'>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="registro-box">
            
      <img class="logo-cp" src="images/logo-restaurante.png" alt="Logo de MichiFood">
      <form>
       <h2>Agregar</h2>
          <input type="text" placeholder="Nombre">
          <input type="text" placeholder="Apellido">
          <input type="text" placeholder="E-mail">
          <input type="text" placeholder="Contraseña">
          <input type="text" placeholder="Confirmar contraseña">
          <input type="submit" class="btn" value="Enviar">
      </form>
  </div>

  </main>
   
      <%- include('partials/footer') %>
</body>
</html>
