<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <div class="registro-box">
        <link href="css/register.css" rel='stylesheet'>
        <img class="logo" src="images/logo-restaurante.png" alt="Logo de MichiFood">
    <form>
        <h2> Registro </h2>
        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Apellido">
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="Contraseña">
        <input type="text" placeholder="Confirmar Contraseña">
        <input type="submit" class="btn" value="Enviar">
    </form>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
