body {
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
}

.product_img {
    padding: 5%;
    margin: 1%;
    width: 90%;
    border-bottom: 1px solid black;
}

.producto {
    font-size: 30pt;
    text-decoration: underline;
    text-align: center;
}


.pizza1 {
    border: 1px solid black;
    background-color: #fff;
}

p {
    font-size: 20px;
    padding: 3%;
    margin: auto;
    text-align: justify;
}

