<footer>
    <footer>
        <div class="tre">
            <div class="tarjeta">
                <div class="pie">
                    <i class="fas fa-credit-card"></i>
                </div>
                <p><b>Pagá con tarjeta o en efectivo</b></p>
            
            </div>
            <div class="regalo"> 
                <div class="pie">
                 <i class="fas fa-solid fa-gift"></i>
                </div>
                 <p><b>Envío gratis desde $ 5.500</b></p>
                
            </div>
          
            </div>
        </div>
        <div class="ultima-linea">
            <p><b>Derechos reservados al grupo 8</b></p>
        </div>
       
    </footer>
   
</footer>
