<header>
    <div class="sup"> 
        <a href="/" class="michiynav"> <img src="images/logo-restaurante.png" alt="Logo de michi fud" class="logo"></a>
      <div class="logo-cuenta">
        <a href="/login" class="nav-button">
            <i class="fa fa-light fa-user" style="color: #f3d300;"></i>
        </a>
        <a href="/cart" class="nav-button">
            <img src="images/carrito.png" alt="carrito" class="carrito">
        </a>
      </div>
    </div>
      <div class="buscador">
           <form>
        <div class="form1" action="#" method="GET">
            <div class="input">
                <input type="text" placeholder="Buscar productos" class="search-bar">
                <button type="submit" class="bnt-search"><i class="fa fa-search" aria-hidden="true"></i></button>

            </div>
        </div>
      </form>
         
      </div>
  
  </div>
  
</header>
